.margntp {
	margin-top:10px;
}
.alert-danger a {
	color:#b94a48;
	text-decoration:underline;
	font-weight:bold;
}

.alert-success a {
	color:#468847;
	text-decoration:underline;
	font-weight:bold;
}
.alert-warning a {
	color:#c09853;
	text-decoration:underline;
	font-weight:bold;
}

img.calendar-icon {
    border: 1px solid #fff;
    cursor: pointer;
    height: 19px;
    margin: 1px 1px 1px 2px;
    vertical-align: top;
    width: 19px;
}
table.popup-window a:not(.btn), .table.popup-window a:not(.btn) {
    text-decoration: none;
}


.table.requests > thead > tr > th, .table.requests > tbody > tr > th, .table.requests > tfoot > tr > th, .table.requests > thead > tr > td, .table.requests > tbody > tr > td, .table.requests > tfoot > tr > td
{
	line-height:1;
}


table.requests {
	font-size:12px;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}
.alert.alert-small {
	padding: 5px;
	font-size: 12px;
}
.btn-group > .btn-group:last-child > .btn:first-child {border-top-right-radius: 4px; border-bottom-right-radius:4px;}

.form-lk-geography{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

 #input-group-list-from-date input.form-control.maskdate,
 #input-group-list-to-date input.form-control.maskdate
{
	height: 41px;

}

.client-filterform #input-group-list-to-date, .client-filterform #input-group-list-from-date{
	margin-top: 20px;
}

.client-filterform .dash{
	margin-top: 14px;
}

.client-filterform form.form-inline{
	width: 90%;
}




