html {min-width:1100px; }
body {margin:0; padding:0; font-family:Tahoma, Geneva, sans-serif; color:#606060; font-size:12px; /*padding-top:100px;*/}
a img {border:none;}
h1 {font-size:28px; /*color:#769ba6; */ color:#315fa7; margin:0; padding:0; text-align: center; text-transform:uppercase; font-weight:normal; margin:50px 0; margin-top:20px;}
h2 {font-size:24px; color:#7a7a7a; text-transform:uppercase; font-weight:normal; margin:0; padding:0; margin-left:50px; margin-bottom:15px;}
a {/*color:#00bef6; */ color:#2E83BF; outline:none;}
input[type="submit"], input[type="button"] {
	cursor:pointer;
}

body#index {/*background:url(images/index.png) 0 0 repeat-x #004f6d;*/ background: url(images/bg_new.jpg) top center no-repeat #004f6d; background-size:cover;}
body#about {background:#f0f0f0; }
body#services {background:url(images/article.gif) #ebe7e7 0 0 repeat-x;}
body#contact {/*background:url(images/contact.png) 0 0 repeat-x #009ac6; */ background:url(images/contact_new.png) 0 0 repeat-x #2e83bf;}
body#map {background:#a4b2c0;}
body#docs {background:url(images/l_bg.png) 0 0 repeat;}
body#faq {background:#fbfbfb;}
body#for_shops {background:#769BA6;}
body#user {background:url(images/l_bg.png) 0 0 repeat;}
body#lk {background:url(images/l_bg.png) 0 0 repeat;}

body#about h1 {font-size:36px; /*margin-top:120px;*/}

table {border-collapse:collapse;}
table caption {font-size:11px; text-align:right; font-style:italic;}

.clear { clear: both; font-size: 1px; height: 0; line-height: 0;}
.outer {width:100%; position:relative;}
.in {position:relative; width:960px; margin:0 auto; /*padding-top:120px;**/ padding-top:20px; margin-bottom:100px;}

#header {
	/*
	background:url(images/header.png) 0 0 repeat-x;
	height:113px; 
	*/
	background:#fff;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.65);
	box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.65);
	min-height:100px;
	width:100%;
	/* 
	position:fixed; 
	top:0; 
	left:0; 
	z-index:1000;
	*/
}
#header .logo {
	display:block;
	width:237px;
	height:66px;
	/*
	position:absolute; 
	left:20px;
	top:16px;
	*/
	float:left;
	margin-top:16px;
	margin-left:20px;
}
#header .info {
	font-size:16px; 
	/*
	position:absolute; 
	right:20px; 
	top:18px; 
	*/
	float:right;
	margin-top:18px;
	margin-right:20px;
	/* width:280px;  */
	height:65px;
	text-align:right;
	display:inline-block;
}
#header .info a {color:#606060; text-decoration:none;}
#header .info a:hover { text-decoration:underline;}
#header .info  span span {/*color:#00b4d4;*/ color:#2E83BF;}

#pc3, #pc2, #pc1 {position:absolute; left:0; top:0; width:100%;}
#pc1 { height:900px; opacity:0.12; z-index:60;  background:url(images/pc6.png) 50% 100% no-repeat; filter: alpha(opacity=12); -moz-opacity: 0.12;}
#pc2 { height:900px; opacity:0.05; z-index:40;  background-image:url(images/pc2.png); background-repeat:repeat-x; background-position:0 50%; filter: alpha(opacity=5); -moz-opacity: 0.05;}
#pc3 { height:900px; opacity:0.15; z-index:20; background:url(images/pc5.png) 100% 50% no-repeat; filter: alpha(opacity=15); -moz-opacity: 0.15;}

#index .outer { /*background:url(images/index_bg.png) 50% 0 no-repeat;*/ min-height:800px;}
#index h1#hh {color:#fff; font-size:80px; margin:0; padding:0; position:absolute; left:83px; top:257px; font-weight:normal; z-index:900;}
#index h2#hh2 { font-size:40px; display:block;  position:absolute; left:83px; top:350px; color:#fff; text-transform:none; width:550px; text-align:left;}
#index h2#hh2_2 { font-size:35px; display:block;  position:absolute; left:175px; top:390px; color:#fff; text-transform:none; width:740px; text-align:left;}
#index span#h1 { color: #FFFFFF; display: inline-block; font-size: 14px; left: 428px; position: absolute;text-transform: uppercase; top: 250px;}
#index .intro {text-align:right; margin:0; left:400px; color:#fff; top:570px; position:absolute; z-index:800;}
#index .intro a {color:#FFF;}

#about .promo {width:800px; margin:0 auto; border-radius:15px; background:#c0e6f1; border:1px solid #fff; height:67px;  -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.2); 
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.2); 
    box-shadow: 0 5px 5px rgba(0,0,0,0.2); margin-bottom:40px; position:relative;}
#about .promo div {position:absolute;}
#about .promo .block_1, #about .promo .block_3, #about .promo .block_5 {color:#00bef6; font-size:42px; top:8px;}
#about .promo .block_2, #about .promo .block_4, #about .promo .block_6 {color:#939292; font-size:16px; top:12px;}
#about .promo .block_1 {left:20px; width:50px;}
#about .promo .block_2 {left:70px; width:140px;}
#about .promo .block_3 {left:305px; width:50px;}
#about .promo .block_4 {left:355px; width:140px;}
#about .promo .block_5 {left:622px; width:50px;}
#about .promo .block_6 {right:20px;}
#about .about_intro {font-size:14px; text-align:center;	padding:0 100px; }
#about .reviews { margin-top:60px; }
#about .reviews h2 {margin:0;}
#about .reviews input[type="submit"], #about .reviews input[type="submit"], #about .reviews input[type="reset"] {
    cursor: pointer;
    padding: 6px 12px;
}
#about .reviews input[type="text"] {
    border: 1px solid #CCCCCC;
    padding: 6px;
    width: 250px;
}
#about .reviews textarea {
	 border: 1px solid #CCCCCC;
    padding: 6px;
}
#about .reviews .data-table td {padding: 0 10px 10px 0;}
#about .reviews blockquote {font: italic 12px Georgia, "Times New Roman", Times, serif;
text-align:right;
background:#f9f9f9;

border-left:10px solid #ccc;

margin:1.5em 10px;

padding:.5em 10px;
color: #8d8d8d;
}
#about .reviews blockquote:before {

color:gray;

content:open-quote;

font-size:4em;

line-height:.1em;

margin-right:.25em;

vertical-align:-.4em;

}

 

#about .reviews blockquote p {
font: italic 12px Georgia, "Times New Roman", Times, serif;
text-align:right;

color: #8d8d8d;

}

#services h1 {color:#FFF;}
#services .article { margin:0; padding: 7px 7px 14px 70px; background:url(images/check.png) 10px 15px no-repeat #fff; margin-bottom:20px; border-radius:10px; display:block; color:#606060; text-decoration:none; -moz-box-shadow: 0 6px 6px rgba(0,0,0,0.2); -webkit-box-shadow: 0 6px 6px rgba(0,0,0,0.2); box-shadow: 0 6px 6px rgba(0,0,0,0.2); border:3px solid #fff; min-height:56px;}
#services .article:hover {background:url(images/check.png) 10px 15px no-repeat #e7faff;  -moz-box-shadow: 0 6px 6px rgba(0,0,0,0.4); -webkit-box-shadow: 0 6px 6px rgba(0,0,0,0.4); box-shadow: 0 6px 6px rgba(0,0,0,0.4); }
#services .article h3, #services .article p {margin:0; padding:0;}
#services .article h3 { /*color:#009AC6; */  color:#2e83bf; font-weight:normal; font-size:16px; padding-bottom:3px;}

.date {color:#a9abae; font-size:11px;}

.outer.newouter {background:#FFF;}
.outer.newouter .in {padding:20px 0;}
#slider {margin-left:30px;}
ul.news-slider {margin:0; padding:0; list-style:none;}
ul.news-slider li {width:260px; margin:0 20px; float:left;}
ul.news-slider .doc {padding-left:50px; background:url(images/doc.png) 0 5px no-repeat; min-height:56px;}
ul.news-slider .doc a {font-size:14px; text-transform:uppercase;}
ul.news-slider .doc .date {color:#a9abae; font-size:11px;}
ul.news-slider  p {margin:0; padding:0;}
.news-block {position:relative;}
.news-block #prevBtn {position: absolute; left: 0; top: 70px; width: 23px; height: 40px; cursor: }
.news-block #prevBtn a { display:block; width: 22px; height: 40px; background: url(images/prev.png) no-repeat; pointer; display:block;}
.news-block #nextBtn {position: absolute; right: 0; top: 70px; width: 23px; height: 40px; display:block;}
.news-block #nextBtn a { display:block; width: 22px; height: 40px; background: url(images/next.png) no-repeat; cursor: pointer;}

#contact h1 {color:#fff;}
#contact .in .l, #contact .in .r {width:460px; float:left;}
#contact .in .l {margin-right:40px; color:#f0f0f0; text-align:center;}
#contact .in .l .adr {font-size:24px; margin-bottom:40px;}
#contact .in .l .phone {font-size:50px; margin-bottom:25px; line-height: 35px;}
#contact .in .l .phone span {display:block; font-size: 16px; text-align:right; padding-right:28px;}
#contact .in .l .time {font-size:16px; margin-bottom:40px;}

.form-block {width:418px; min-height:88px; background:#f0f0f0; border:1px solid #d4d6d9; border-radius:20px; text-align:left; padding:20px;}
.form-block {font-size:12px; color:#606060;}
.form-block input[type="text"], .form-block textarea {color:#606060; font-family:Tahoma, Geneva, sans-serif; font-size:12px; font-style:italic; border-radius:15px;}
.form-block input[type="text"] { background:url(images/input.png) 0 0 no-repeat; border:none; width:165px; height:23px; padding:3px 8px;}
.form-block textarea {padding:5px 8px; resize:none; border:none; background:url(images/textarea.png) 0 0 no-repeat; width:295px; height:40px;}
.form-block input[type="submit"] {color:#fff; font-size:14px; text-transform:lowercase; border:none; cursor:pointer; /*background:#0b99c3; */ background:#2e83bf; padding:3px 8px; border-radius:8px; margin-top:27px;}
.form-block .input-min-left {width:220px; float:left;}
.form-block .input-min-right {width:190px; float:right; text-align:right;}
.form-block .input-min-right, .form-block .input-min-left {margin-bottom:10px;}
.form-block label.required textarea, .form-block label.invalid textarea, .form-block label.required input[type="text"], .form-block label.invalid input[type="text"] { border:1px solid #F00;}
.form-block .input-big {width:312px; float:left;}
.form-block .send-button {width:100px; float:right; text-align:right;}
.form-block p {margin-top:0;}

#footer {background:#fff; padding:20px 0; color:#000; font-size:11px; opacity:0.75; filter: alpha(opacity=75); -moz-opacity: 0.75; position:relative; /*position:fixed; left:50%; bottom:0; margin-left:-480px; opacity:0.8; border-radius:10px 10px 0 0; width:920px; z-index:100;*/}
#company #footer, #faq #footer {background:#eee;}
#footer .footer_in {
	margin:0 auto; padding:0 10px; width:960px;
}
#footer .l, #footer .r {width:455px; float:left;}
#footer .l {margin-right:40px;}
#footer .r { text-align:right;}
#footer a {color:#3e4548;} 
#index #footer, /*, #about #footer,*/ #services #footer, #contact #footer {
	opacity:0.4; 
	filter: alpha(opacity=40); 
	-moz-opacity: 0.4;
	position:fixed; left:50%; bottom:0; margin-left:-500px; border-radius:10px 10px 0 0; width:980px; z-index:100;
}

#map .in {font-size:13põ; line-height:20px;}
#map .in a {color:#fff;}
#map .in a:hover {text-decoration:none;}
#map h1 {color:#4b5a69;}

#for_shops h1 {color:#FFFFFF;}
#for_shops .all { background: #FFF; border-radius:0 20px 20px 20px; padding:20px;width:920px; box-shadow:0 0 20px #000;}
#for_shops ul {padding-left:15px;}


.tarifs {display:block; top:40px; height:20px; padding-top:0px; font-size:18px; font-weight:bold; text-decoration:none; padding-left:60px; margin-right:40px; margin-bottom:40px; min-height:35px; padding-top:15px;}
.tarifs:hover {text-decoration:underline;}
.tarifs.pdf {background:url(images/pdf_2.png) 0 0 no-repeat;  color:#F00; }
.tarifs.doc {background:url(images/word.png) 0 0 no-repeat;  color:#0069be;}


.left_service {width:630px; float:left; padding-right:25px;}
.left_service h1 {text-align:left;}
.right_service {width:220px; float:right; padding:0 25px; background:url(images/l_bg.png) 0 0 repeat; margin-top:28px;}
.right_service ul {margin:0; padding:0; list-style:none;}
.right_service ul li {margin:25px 0;}
.right_service ul li.active {font-weight:bold;}
.right_service ul li.active a {text-decoration:none;}
.right_service ul li a:hover {text-decoration:none;}
.right_service h3 {font-size:18px; color:#7a7a7a; text-transform: uppercase; font-weight:normal; margin:0; padding:0; margin-top:25px;}


.collapsible,
.page_collapsible,
.accordion {
    margin: 0;
    padding:10px;
    border-top:#f0f0f0 1px solid;
    background: #dadada;
    text-decoration:none;
   
    color: #000; font-size:13px; font-weight:normal; cursor:pointer;}
.accordion-open,
.collapse-open {
   /* background:#0b99c3; */
   background:#2E83BF;
    color: #fff; }
.accordion-open span,
.collapse-open span {
    display:block;
    float:right;
    padding:10px; }
.accordion-open span,
.collapse-open span {
    background:url(images/minus.png) center center no-repeat; }
.accordion-close span,
.collapse-close span {
    display:block;
    float:right;
    background:url(images/plus.png) center center no-repeat;
    padding:10px; }
div.container {
    padding:0;
    margin:0; }
div.content {
    background:#f0f0f0;
    margin: 0;
    padding:10px; font-size:12px; font-weight:normal; text-transform:none;}
div.content ul, div.content p {
    padding:0;
    margin:0;
    padding:3px; line-height:16px;}
div.content ul li {
    list-style-position:inside;
    line-height:25px; }
div.content ul li a {
    color:#555555; }
code {
    overflow:auto; }
	
.left_menu {/*height:200px;*/ width:250px; left:20px; top:400px; position:absolute;  z-index:903; cursor:move; border: 1px solid #ccc; padding:15px; background:url(images/l_bg.png) #FFF 0 0 repeat !important; border-radius:6px; }

a.to_dms {background: url("images/ui-bg_highlight-hard_80_d7ebf9_1x100.png") repeat-x scroll 50% 50% #D7EBF9;
    border: 1px solid #AED0EA;
    color: #2779AA;
    display: inline-block;
    font-size: 16px; padding: 0.5em 0.5em 0.5em 0.7em; border-radius:6px; text-decoration:none; right:20px; top:205px; position:absolute;  z-index:903;}
a.to_dms:hover {border: 1px solid #aed0ea; background: #e4f1fb url(images/ui-bg_highlight-hard_100_e4f1fb_1x100.png) 50% 50% repeat-x; font-weight: normal; color: #176484; }

/*
.left_menu ul {margin:0; padding:0; list-style:none;}
.left_menu ul li { position:relative;}
.left_menu ul li a {display:inline-block; height:20px; background:url(images/left_menu.png) 0 0 no-repeat; color: #676767; text-decoration:none; padding:10px 10px 10px 35px; font-size:14px; text-shadow:1px 1px 1px #FFF; line-height:20px; float:right; margin-bottom:2px;}
.left_menu ul li a:hover {background:url(images/left_menu.png) 0 -40px no-repeat;} */

.left_side, .right_side { width:418px; float:left;}
.left_side {margin-right:40px;}
.left_side table, .right_side table {width:100%;}
.left_side h2 {margin-left:0;}

.modal-overlay {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	background:#000;
	opacity:0.7;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	z-index:950;
}

* html .modal-overlay {   
	position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

.modal-window {
	position:absolute;
	top:50%;
	left:50%;
	margin:0;
	padding:0;
	z-index:1200;
	border-radius: 10px; behavior: url(js/PIE.htc);background: #fff; padding:20px;
}

* html .modal-window {
	position:absolute;
}

.close-window {
	position:absolute;
	width:13px;
	height:13px;
	right:20px;
	top:20px;
	background:transparent url(images/close.png) no-repeat scroll right top;
	text-indent:-99999px;
	overflow:hidden;
	cursor:pointer;
	opacity:0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50);
}

label {display:block; margin-bottom:3px;}
.descr {margin-top:12px; color:#999; font-size:11px;}

.ui-tabs{ position: relative; padding: .2em; zoom: 1; padding:0;} /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 0; margin: 1px .2em 0 0; border-bottom: 0; padding: 0; white-space: nowrap; border-bottom:1px solid #2779AA;}
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active { /*margin-bottom: -1px;  padding-bottom: 1px; */  border:1px solid #fff;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }

.ui-widget-content#tabs {background: none; border: none;}
.ui-widget-header.ui-tabs-nav {background:none; border:none;}

.ui-tabs-nav .ui-state-default { background: url("images/ui-bg_highlight-hard_50_3baae3_1x100.png") repeat-x scroll 50% 50% #3BAAE3;
    border: 1px solid #2694E8;
    color: #FFFFFF;}
.ui-tabs-nav .ui-state-default  a {color:#fff;}
.ui-tabs-nav .ui-state-active { /*background: url("images/ui-bg_highlight-hard_80_d7ebf9_1x100.png") repeat-x scroll 50% 50% #D7EBF9; */ background:#FFF;
    border: 1px solid #AED0EA;
    color: #2779AA;}
.ui-tabs-nav .ui-state-active a{color:#2779AA}
#for_shops ul.ui-tabs-nav {padding: .2em .2em 0; margin-left:-2px;}

.subscribe-form {margin-left:50px; border-top: 1px dashed #CCCCCC; margin-top:50px; text-align:center; margin-right:50px;} 
.subscribe-form h3 {color: #7A7A7A; font-size: 16px; font-weight: normal; margin: 15px 0 15px; padding: 0;text-transform: uppercase;}
.subscribe-form input[type="text"], .subscribe-edit input[type="text"] {border: 1px solid #CCCCCC; margin-bottom: 8px; padding: 6px; width:250px;}
.subscribe-form input[type="submit"], .subscribe-edit input[type="submit"], .subscribe-edit input[type="reset"]  {padding: 6px 12px; cursor:pointer;}

.subscribe-edit label {display:inline-block;}

.samples_documents {border-top:1px dotted #CCC; padding-top:20px; margin-top:20px;}
.samples_documents h2 {margin-left:0;}
.samples_documents ul {margin:0; padding:0; list-style:none;}
.samples_documents ul li {margin-bottom:8px;}
.samples_documents ul li a {font-size:16px; text-decoration:none; display:inline-block; border-bottom:1px dashed #769BA6; color:#769BA6;} 
.samples_documents .left_samples {width:320px; float:left; margin-right:40px;}
.samples_documents .right_samples{width:600px; float:left;}
.samples_documents .into_block {display:none;}
.samples_documents .into_block h3 {margin-top:0;}
.samples_documents .into_block a.doc {display:inline-block; background:url(images/doc.gif) 0 0 no-repeat; padding:0 20px; min-height:16px;}
.folder {display:inline-block; background:url(images/folder.png) 0 0 no-repeat; min-height:50px; text-decoration:none; padding-left:60px; font-size:18px; font-weight:bold; line-height:50px; color:#cb870a;}
.folder:hover {text-decoration:underline;}
.starrequired {color:#F00;}
#in ul.map-level-1 a, #in  ul.map-level-2 a, #in  ul.map-level-3 a {
	color:#fff;
	font-size:14px;
}

input[type="text"], input[type="password"] {
	border: 1px solid #CCCCCC;
    padding: 6px;
	color:#606060;
	font-family:Tahoma, Geneva, sans-serif;
}
.partner label {
	display:inline-block;
}
.red {
	color:#F00;
}
.green {
	color:#0C0;
}
select {
	border: 1px solid #CCCCCC;
    padding: 5px;
	color:#606060;
	font-family:Tahoma, Geneva, sans-serif;
}

.infobox {
	font-size:14px;	
}
.infobox strong {
	font-weight:bold;
	color:#315FA7;
	font-size:16px;
}
.infobox .errors strong {
	color:#f00;
}

#textback_widget{
	display:none!important;
}